<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/yeti/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/css/font-awesome.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <title>Whoops - @ViewBag.Title</title>
</head>
<body>
    <div id="sidebar">
        @if (User.Identity.IsAuthenticated)
        {
            <img src="https://sinst.fwdcdn.com/img/weatherImg/b/n300.jpg" class="sidebarimg" />
            <span class="text-info">@User.Identity.Name</span>
        }
        <div class="nav">
            <ul>
                <li class="active" style="list-style-type:none"> <a asp-controller="App" asp-action="Index">Home</a></li>
                <li class="default" style="list-style-type:none"> <a asp-controller="App" asp-action="About">About</a></li>
                <li class="default" style="list-style-type:none"> <a asp-controller="App" asp-action="Contacts"> Contacts</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="default" style="list-style-type:none"> <a asp-controller="App" asp-action="Trips">Trips</a></li>
                    <li class="default" style="list-style-type:none"> <a asp-controller="Auth" asp-action="Logout">Logout</a></li>
                }

            </ul>
        </div>
    </div>

    <div id="wrapper">
        <nav class="navbar navbar-expand-sm bg-light navbar-light">
            <div class="container-fluid">
                <ul class="nav navbar-nav navbar-left">
                    <li>
                        <button id="toggle" class="btn btn-primary">
                            <i class="fa fa-chevron-left"></i>
                        </button>
                    </li>
                    </ul>
                <ul class="nav navbar-nav navbar-right">

                    @if (!User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item">
                            <a class="fa fa-sign-in fa-lg" asp-controller="UserManagement" asp-action="CreateUser">Register</a>
                        </li>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                     <li nav-item dropdown>
                            <button  class="btn btn-warning dropdown-toggle" type="button" id="btnDropdownDemo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @User.Identity.Name
                            </button>

                            <div class="dropdown-menu" aria-labelledby="btnDropdownDemo">
                                <a class="dropdown-item" asp-controller="UserManagement" asp-action="GetUserInfo" asp>My Profile</a>
                                <a class="dropdown-item" asp-controller="Auth" asp-action="Logout">Logout</a>
                            </div>
                     </li>
                    }
                    </ul>
             </div>
        </nav>
        <div id="main" class="container-fluid">
            @RenderBody()
        </div>
        <div id="footer" class="container-fluid">
            <div class="navbar navbar-inverse fixed-bottom">
                <h4 class="mx-auto text-primary">Most cool copyrights ever 2018 &copy; SomeTM&trade;</h4>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery.js">
    </script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js">
    </script>
    @RenderSection("scripts", false)
    <script type="text/javascript" src="~/lib/underscore.js">
    </script>
    <script type="text/javascript" src="~/js/site.js">
    </script>

</body>
</html>
